@import '../../../styles/settings.scss';

.root {
  padding: $base-size;
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}